{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPG - Jeu</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body style="background-image: url('{% static 'images/background.jpg' %}'); background-size: cover; background-position: center;">

<body>
  
    <div class="background"></div>
    

    <div class="content">
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'character_list' %}">Liste des personnages</a></li>
                    
                </ul>
            </nav>
        </header>

        {% block content %}
       
        {% endblock %}
    </div>
</body>
</html>